lumine-pane-container {
  lumine-pane {
    position: relative;
    border-right: 1px solid var(--base-border-color);
    border-bottom: 1px solid var(--base-border-color);

    .item-views {
      /* Prevent lumine-text-editor from leaking outside; this may improve performance. */
      overflow: hidden;
    }
  }
}

/* Hide right-most border */
lumine-pane:only-child,
lumine-pane-axis.pane-row > lumine-pane:last-child,
lumine-pane-axis.pane-column:last-child > lumine-pane {
  border-right: none;
}
